<!DOCTYPE html>
<html lang="en">



<head>
    <!--titre de la page change-->
    <title>Remarques</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="Table.css">
    <link rel="stylesheet" href="BtnStyle.css">



</head>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("img/back.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1370px 1030px;


    }
</style>
</head>

<body>





    <nav class="navbar navbar-expand-lg navbar-primary " style="background-color: #0B2161 ">
        <h1 class="navbar-brand text-white"><i>Système Scolaire</i></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div>

            </div>



            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="Accueil.html"><img src="wife.png"></a>
                    </li>
                    <a href="interface_login.html" class="btn btn-outline-success" role="button"
                        aria-pressed="true">Déconnexion</a>
            </form>
        </div>
    </nav>
    <div class="containerT">
<br>
        <ul class="responsive-table">
            <li class="table-header">
                <dl>
                    <dt><b>Nom:</b> Chaibi</dt>
                    <dd><b>Prénom:</b> Amal</dd>
                    <dd><b>Classe:</b>1s2</dd>
                    <dd><b>Remarque:</b><p>Alright, I'll save this and go back to the contact form and we'll add a new chapter. Now remember we're using this ...</p></dd>
                    <dd>
                        <div>
                            <a href="#" ><button class="Special" type="button" style="position: relative; left:600px;">Modifier</button></a>
                            <a href="#" ><button class="Special" type="button" style="position: relative; left:610px;">Supprimer</button></a>
                        
                            
                        </div>
                    </dd>
                </dl>
            </li>
            <li class="table-header">
                <dl>
                    <dt><b>Nom: </b>BELHSAN</dt>
                    <dd><b>Prénom: </b>Salma</dd>
                    <dd><b>Classe: </b>3M2</dd>
                    <dd><b>Remarque:</b><p>Alright, I'll save this and go back to the contact form and we'll add a new chapter. Now remember we're using this ...</p></dd>
                    <dd>
                        <div>
                            <a href="#" ><button class="Special" type="button"  style="position: relative; left:600px;">Modifier</button></a>
                            <a href="#" ><button class="Special"  style="position: relative; left:610px;" type="button">Supprimer</button></a>
                        
                            
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </body>
    </html>
