<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">



<head>
<!--titre de la page change-->
<title>Classes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--les liens pour le fichier CSS tableau-->
<link rel="stylesheet" href="Table.css">




</head>

<style>
body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("img/back.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1650px 1030px;
	background-attachment: fixed;
}
</style>
</head>

<body>





	<nav class="navbar navbar-expand-lg navbar-primary "
		style="background-color: #0B2161">
		<h1 class="navbar-brand text-white">
			<i>Système Scolaire</i>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<div></div>



			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						href="Accueil.html"><img src="wife.png"></a></li>
					<a href="interface_login.html" class="btn btn-outline-success"
						role="button" aria-pressed="true">Déconnexion</a>
						</ul>
			</form>
		</div>
	</nav>

	<center><div class="container">
		<br>

		<!--Nom du prof-->
		<h2 class="text-white" style="margin-top: 1;">
			<b>Nom et Prénom du Professeur :</b>
		</h2>
		<h2 class="text-white" style="margin-top: 1; display: inline; margin-right: 1em;" th:text="${prof.nom}">
		</h2>
	

		<h3 class="text-white" style="margin-top: 1; display: inline;" th:text="${prof.prenom}">
		</h3>
		<br>
		<h3 class="text-white" style="margin-top: 1;">
			<b>Matière : </b>
		</h3>

		<h3 class="text-white" style="margin-top: 1;" th:text="${prof.matier}">
		</h3>

		<br>
	</div>
	</center>
	
	<!--Tableau des classes-->
	<div class="containerT" >

		<ul class="responsive-table">
			<li class="table-header" th:each="class:${prof.listdeclass}">
			<a class="text-white" th:href="@{/EtudientList/(classe=${class})}">


				
					<div class="col" th:text="${class}" style="margin-left: 250px;"></div>
					

			</a></li>


		</ul>
	</div>


</body>