<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">



<head>
<!--titre de la page change-->
<title>Remarque</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="BtnStyle.css">




</head>

<style>
body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("img/back.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1370px 1030px;
	overflow-x: hidden;
}

.container {
	position: relative;
	top: 40px;
	left: 280px;
}
</style>
</head>

<body>





	<nav class="navbar navbar-expand-lg navbar-primary "
		style="background-color: #0B2161">
		<h1 class="navbar-brand text-white">
			<i>Système Scolaire</i>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<div></div>



			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						href="Accueil.html"><img src="wife.png"></a></li>
					<a href="interface_login.html" class="btn btn-outline-success"
						role="button" aria-pressed="true">Déconnexion</a>
			</form>
		</div>
	</nav>

	<div class="container">
		<br>






		<form class=container action="#" method="post"
			th:action="@{/remarque}" th:Object="${remarque}">
			<h4 class="text-white" style="margin-top: 1;" th:text="${etudient.name}" >
				<b>Nom de l'élève :</b>
			</h4>
			
			<br>
			<h4 class="text-white" style="margin-top: 1;" th:text="${etudient.prename}">
				<b>Prénom :</b>
			</h4>
			<br>
<h4 class="text-white" style="margin-top: 1";  th:text="${cin}" >
				<b>cin :</b>
			</h4>
			<input th:field="*{cin}" type="text" class="form-control"
					placeholder="" style="visibility: hidden;">
			<br>
			<h5 class="text-white" style="margin-top: 1;" th:text="${prof}">
				<b></b>
			</h5>
			<input type="text" th:field="*{prof}" class="form-control"
					placeholder="" style="visibility: hidden; ">

			<br>
			<p>
				<textarea name="le-message" rows="6" cols="40"
					style="width: 50%; box-sizing: border-box;" th:field="*{remarque}"
					placeholder="Vous pouvez saisir ici votre remarque."></textarea>
			</p>

			<p>
				<input type="submit"
					style="position: relative; top: 20px; left: 280px" value="Envoyer" />
				<input type="reset"
					style="position: relative; top: 20px; left: 290px"
					onClick="history.back()" value="Annuler" />
			</p>
		</form>

		<br>
	</div>
</body>