.containerT {
   
    margin-left: 40px;
    margin-right: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
 
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 15%;
  }
  .responsive-table .col-2 {
    flex-basis: 15%;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
  }
  .responsive-table .col-4 {
    flex-basis: 30%;
  }
  .responsive-table .col-5 {
    flex-basis: 15%;
  }
  .responsive-table .col-6 {
    flex-basis: 15%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      margin-top: 10px;
      flex-basis: 100%;
      
      
      align-self: center;
    }
    .responsive-table .col {

      display: flex;
      padding: 10px 0;
      text-align: center;
    }
    .responsive-table .col:before {
      color: #6C7A89;
     
      content: attr(data-label);

      text-align: center;
    }
  }